*{
	font-family: 'Varela Ronda', sans-serif !important;
}
body{
	background-image: url("../img/gi.gif");
	color: white;
}
.mgt{
	margin-top: 7%;
}
iframe{
	width: 100%;
	height: 30em;
	border: none;
}
button{
	padding: 1em 4em;
	border: none;
	border-radius: 5em;
	background-color: #3190FB;
	color: white !important;
	width: 100%;
	margin-bottom: 5%;
}
button:hover{
	border: 1px solid #3190FB;
	background-color: #000000;
}
.rot:hover{
    -webkit-transform: rotateZ(360deg);
    -webkit-transition: .8s;
}
.scal:hover{
	-webkit-transform: scale(1.1);
    -webkit-transition: .8s;
     transform: scale(1.1);
}
.form{
	height: 25.5em;
}